{% extends 'blog-base.html.twig' %}


{% block title %}{{ categorie.name }} - Blog Diamono Tech{%  endblock %}

{% block body %}
        <h2>{{categorie.name}}</h2>
        <img src="" alt="">
<!--================Blog Categorie Area =================-->
    {% include 'posts/_categorie.html.twig'  %}  
    <!--================Blog Categorie Area =================-->
    
 <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container" id="posts-container">
            <div class="row">
                <div class="col-lg-8">{#col-lg-8 left sidebar  #}
                    <div class="blog_left_sidebar">
                     {% include 'posts/_pagination.html.twig' with { 'pagination': pagination } %}
                    </div>
                </div>{#col-lg-8 left sidebar  #}
                {% include 'posts/_sidebar.html.twig'%}
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}