{% extends 'blog-base.html.twig' %}

{% block title %}Blog Diamono Tech{% endblock %}

{% block body %}

<!--================ Start Banner Area =================-->
    {# <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Blog</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="blog.html">Our Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </section> #}
    <!--================ End Banner Area =================-->
        
    
    <!--================Blog Area =================-->
                
    <section class="blog_area">
        <div class="container" id="posts-container">
        <div class="mb-4">
              <h1 class="mt-4">
              Bienvenue sur notre blog Massgrafik</h1>
                </div>
            <div class="row">
                <div class="col-lg-8">{#col-lg-8 left sidebar  #}
                    <div class="blog_left_sidebar">
                  
                     {% include 'posts/_pagination.html.twig' with { 'pagination': pagination } %}
                    </div>
                     <!--================Blog Categorie Area =================-->
                    {% include 'posts/_categorie.html.twig'  %}  
                    <!--================Blog Categorie Area =================-->
                </div>{#col-lg-8 left sidebar  #}
                {% include 'posts/_sidebar.html.twig' %}
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}
