{% extends 'admin-base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
<div class="row justify-content-center my-4">
    <div class="col-md-6">
    <h1>Create new Posts</h1>

    {{ include('admin_posts/_form.html.twig') }}

    <a href="{{ path('app_admin_posts_index') }}">back to list</a>
    </div>
</div>
{% endblock %}
